
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-number-input::-webkit-inner-spin-button,
  .custom-number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input {
    -moz-appearance: textfield; 
  }

  textarea,select,input{
    @apply bg-gray-100;
    @apply rounded-xl;
    @apply p-2;
   
    @apply text-gray-500;
    @apply custom-number-input;
  }

  
  textarea,select,input:not([type="checkbox"],[type="radio"]){
    @apply outline-none;
    @apply w-full;
  }


  a,button {
    @apply hover:bg-orange-700;
  }